[2018-03-21 17:07] mityakoval commented on #404
Hi!

Were you able to fix this?

[2018-03-26 10:12] Rajan4436 commented on #404
any solution??

[2018-03-29 08:34] ashwinbalaguru commented on #382
Facing the same problem, using version ruby 2.3.1

[2018-04-03 14:29] badosu opened #421 "Allow header entries not present"
Currently, `Roo::Base#each` raises `Roo::HeaderRowNotFoundError` if one of the header entries is not present.

For some features columns can be optional, so this makes it very cumbersome to cover with `Roo`, having to use the row position instead.

I suggest adding an option to not raise the exception when header is not present.

Let me know if that's acceptable and I can work on it.

[2018-04-03 14:46] badosu commented on #403
Btw, I was just looking at the code, and it seems `#parse` can accept a `headers: false` option. It would be easy to move the config to `#each` instead and simplify for both cases.

[2018-04-19 13:24] awunder opened #422 "key not found: :txt"
Hello,

i am trying to import a tab delimited txt file but get the error

key not found: :txt

any idea where the issue might be?

thank you,
Andreas

[2018-04-19 22:21] xeger opened #423 "ExcelX::Cell::Number#formatted_value crashes if format is unrecognized"
It seems that in some cases, a cell's @formatters Hash doesn't contain its format key, which means `formatter` becomes nil, which means the else case raises an exception:
[code]

(`Kernel.format` expects a string as its 0th arg.)

I can reproduce this by entering a alphabetic value into a numeric column in an XLSX spreadsheet. I'm sure there are other cases as well.

[2018-04-22 17:44] supremebeing7 opened #424 "`parse` does not return header data"
Perhaps I am just trying to use this gem incorrectly, but I was attempting to `parse` a CSV file and the `parse` method gives all the data but with the header row stripped.

example gist: https://gist.github.com/supremebeing7/c027599ceff6a536e6b378dcb3e19782

Is that the expected behavior? I see I can convert `to_a` and it will show the header row, or I can access it with `row(1)`, but the `parse`

[2018-04-30 14:18] mlotfi2005 opened #425 "not an issue, just question please"
Can you please provide the file new_prices.xlsx ?
Thanks,

[2018-04-30 14:27] mlotfi2005 commented on #425
because I did not understand
sheet.parse(id: /UPC|SKU/, qty: /ATS*\sATP\s*QTY\z/)
# => [{:id => 727880013358, :qty => 12}, ...]

what are UPC , SKU ATS ,  ?

[2018-04-30 19:42] Probablyility commented on #382
Just had the same problem with a small testing file I was running which I had opened locally in Excel to remove records with hopes of making my testing more straightforward. When I ran the much larger original file, which has never been opened in locally in Excel the file ran with no issues.

Using the larger file will make my testing a little more complicated, but clearly the simple act of openin

[2018-05-16 07:58] willlahr commented on #425
Those are terms from retail - you can look them up on wikipedia. UPC is the barcode, SKU is the 'stock keeping unit'

[2018-05-16 20:34] vanboom commented on #421
:+1: Agree, it should not require that all headers be present.

[2018-05-17 22:16] motdotla commented on #407
I've found `each_row_streaming` to be helpful with this. Also avoid use of `last_row`.

[2018-05-17 22:28] motdotla commented on #407
Nix that. slightly better but still terrible memory issues. See this thread: https://github.com/roo-rb/roo/issues/179

[2018-05-21 11:34] paneq opened #428 "each() should skip the header row?"
`Roo::Base#each()` method does not skip the row detected as header.

https://gist.github.com/paneq/4e866bf8be2e2c3c35bc396944f5b630

No matter what I try I get:

[code]

and I would prefer:

[code]

I tried:

* `each(headers: :first_row)`
* `each(name: 'name',isbn: 'isbn',quantity: 'quantity')`
* `each(header_search: %w(name isbn quantity))`

It appears to me that:

[code]

I expected it to be `(@

[2018-05-22 14:03] paneq commented on #360
typical uscase - in testing responses:

[code]

[2018-05-24 02:59] beitaz opened #429 "Enumerable object question"
Customarily, we use each block iterate an collection, and call method or access attribute on each record.
[code]

[2018-06-01 08:09] sarojkh commented on #374
We had similar issue as well. Reverted back to 2.6.0 to fix it.

[2018-06-05 09:22] lehug commented on #164
not done yet?
which method can be used to check if the sheet is empty?  I need this method.
if empty, I will skip this sheet.

[2018-06-07 04:14] juulman opened #432 "Parsing incorrectly"
I am facing an issue where the excel file is incorrectly treating a number as a date.
Specifically

[code]
cell_xml['s'].to_i is coming as 0
and that points the format to Date rather than GENERAL

[2018-06-07 05:30] zafarabbas commented on #432
@stevendaniels  could you take a look?

[2018-06-19 15:58] marksiemers commented on #164
@lehug - This is a simplified version of a workaround that I ended up with:
[code]

The call to `first_row` is the important part, I'm sure there are other ways to call it without having to use the default sheet.

[2018-07-10 18:16] pattycg commented on #377
It seems to prevent the error, but it doesn't seem to solve the problem, which is that we should be able to get the formatted value with the currency symbol included.

[2018-07-10 23:40] letiesperon commented on #53
Any updates on this? It's adding a '.0' on all my columns like id or zip code 😬

[2018-07-18 02:00] ej2015 commented on #428
Seems the header option is available in [`parse` method](https://github.com/roo-rb/roo/blob/3ed05e1caef0ce3c5db5c19f1fa14e6f74193079/lib/roo/base.rb#L309). I feel the intention is to use `parse` instead of `each` directly.

[2018-07-19 08:37] ej2015 commented on #424
Seems you already figured it out. For posterity, you can pass [headers: true](https://github.com/roo-rb/roo/blob/3ed05e1caef0ce3c5db5c19f1fa14e6f74193079/lib/roo/base.rb#L309) option.

[2018-07-19 16:30] supremebeing7 commented on #424
Yep, I had that in my [example gist](https://gist.github.com/supremebeing7/c027599ceff6a536e6b378dcb3e19782#file-parser-rb-L10).

[2018-08-03 08:49] bigos opened #439 "determining if file is a stream or not"
In your code

https://github.com/roo-rb/roo/blob/3ed05e1caef0ce3c5db5c19f1fa14e6f74193079/lib/roo/base.rb#L374

you check if the file object responds to seek.

That causes problems. I have an object of Tempfile class that responds to seek. The documentation of Tempfile does not seem to list seek as one of its methods and I need it to treat it as a regular file. What should I do?

[2018-08-03 11:28] bigos commented on #439
https://stackoverflow.com/questions/51668905/how-do-i-determine-if-temfile-is-a-stream-or-not

[2018-08-03 14:01] bigos commented on #439
Looks like the solution has been found. See the SO question.

[2018-08-08 03:28] Thomastar opened #440 "can't dup NilClass"
error:  can't dup NilClass

error line:
xlsx = Roo::Excelx.new(path.to_s)

Using roo 1.13.2

[2018-08-16 07:13] VitaliyAdamkov commented on #402
I've encountered the same issue with parsing floats as datetimes.
After some digging into I've found the point where format detection goes wrong:
#### cat lib/roo/excelx/format.rb
[code]
When a format like '0.0 "USD"' passes in, it gets detected as :datetime, not :float.

Quick fix, that I've used, looks like this:
- `gem 'money'` in Gemfile
- cat config/initializers/roo_excelx_currency_formats.rb

[2018-08-21 17:14] tgturner opened #444 "Still alive? Community move to maintained fork?"
Hi! 👋

First of all, thanks to all contributors that are working to make Roo great! We rely heavily on `roo` at my place of work. Given the number of open PR's and Issues, and the fact that RubyGems hasn't been updated since January of 2017, I wanted to see if active development was still occurring on the Roo gem.

If not, does it make sense to move to a maintained fork?

I would love to hear peop

[2018-08-30 09:48] chopraanmol1 commented on #444
@stevendaniels @simonoff @Empact  can anyone of you look into this and share development status/future/plan for roo.

[2018-09-03 17:02] Empact commented on #444
@tgturner @chopraanmol1 Thanks for raising the question! I'm happy to add new maintainers. Any volunteers?

[2018-09-03 17:26] tgturner commented on #444
@Empact, I would be happy to help out anyway that I can! Feel free to add me as a maintainer. I would love to be more involved.

[2018-09-03 17:55] chopraanmol1 commented on #444
@Empact, same here I'll love to help and keep this project active. Also feel free to add me as a maintainer

[2018-09-10 15:33] tgturner commented on #444
@Empact wanted to follow up on this and see if you were still interested in adding maintainers.

[2018-09-11 05:30] #413 closed

[2018-09-11 20:07] tgturner commented on #432
@juulman Can you provide an example spreadsheet that was causing this issue?

[2018-09-11 20:10] tgturner commented on #429
@beitaz I'm having a difficult time understanding what exactly your question is here. Do you mind clarifying?

[2018-09-11 20:14] tgturner commented on #428
@paneq  currently `each` does not support skipping the header row, feel free to submit a PR with a suggestion!

[2018-09-11 20:14] #428 closed

[2018-09-11 20:16] tgturner commented on #424
Closing because this is intended behavior and there is a PR open that would add documentation to the README to clarify any confusion.

[2018-09-11 20:16] #424 closed

[2018-09-11 20:17] tgturner commented on #425
Thanks @willlahr!

[2018-09-11 20:17] #425 closed

[2018-09-11 20:26] tgturner commented on #422
Roo currently only suppourts 'ods', 'xlsx', 'xlsm', and 'csv' file types. I do believe that we could handle the error better. Please feel free to open a PR that gives a more informative error when you try to parse a spreadsheet with a file extension that Roo does not know about!

[2018-09-11 20:29] tgturner commented on #420
@wuliwong What version of Roo are you using? Is this currently happening against Roo 2.7.1?

[2018-09-11 20:32] tgturner commented on #419
@owst We are working on a new release. A few new maintainers have hoped on board, hope to have it out soon!

[2018-09-11 20:34] tgturner commented on #412
@aepyornis This sounds like a great idea, can you open a PR?

[2018-09-11 20:44] tgturner commented on #407
Duplicate of https://github.com/roo-rb/roo/issues/179

[2018-09-11 20:44] #407 closed

[2018-09-12 00:56] tgturner commented on #389
I agree, the `to_csv` method, as well as some others, could use improved documentation. We would love it if you could open a PR.

[2018-09-12 05:13] chopraanmol1 commented on #422
@awunder  we do support tab limited file as csv. e.g.

[code]

Can you provide sample code and sample file which can be used to reproduce this issue. Also posting error backtrace here will help a lot.

[2018-09-12 09:15] chopraanmol1 commented on #395
Duplicate https://github.com/roo-rb/roo/issues/375

Fixed by https://github.com/roo-rb/roo/pull/406 (in master)

[2018-09-12 09:15] #395 closed

[2018-09-12 10:58] hutusi opened #446 "[FetureRequest] Allow default nil value if no header matched"
If there is no header matched when parsing a sheet, roo will raise Roo::HeaderRowNotFoundError.

Can roo allow set nil value instead of raise Roo::HeaderRowNotFoundError by options?

[2018-09-12 12:51] tgturner commented on #446
@hutusi Thank you for your suggestion. There are a couple of ideas around this that are being thought about. I'm going to mark this issue as a duplicate in favor of https://github.com/roo-rb/roo/pull/427

If you have any more thoughts feel free to add them to that discussion!

[2018-09-12 12:51] #446 closed

[2018-09-12 13:10] tgturner commented on #422
Interesting, I was assuming that he was using `Roo::Spreadsheet.open('path-to-tab-deliminated-file.txt')`

Which would have lead here: https://github.com/roo-rb/roo/blob/master/lib/roo/spreadsheet.rb#L11

However, I see when that happens you get this error: `ArgumentError (Can't detect the type of xyz.txt - please use the :extension option to declare its type.)`. A reproduction example would be he

[2018-09-12 22:34] MicahBrown opened #447 "Unable to access first sheet when calling `.sheet(0)`"
I have a multi-sheet workbook and when I try to call `.sheet(0)` to retrieve the first sheet of the spreadsheet, it always returns the second sheet.

[code]

- [gist](https://gist.github.com/MicahBrown/0343dc18b0f4e937a2831363867e5ba4)
- [spreadsheet](https://github.com/roo-rb/roo/files/2377084/Book2.xlsx)

My workaround so far has been to use `.each_with_pagename` and iterate through each sheet.

[2018-09-13 14:38] tgturner commented on #447
@MicahBrown Thanks for opening this issue. I think there is poor communication around what is happening here.

Calling `sheet` on the workbook actually sets the `default_sheet` for that workbook and then returns the workbook itself, not the sheet.

So when you call `data_file.sheet(0)` the `default_sheet` gets set to sheet 0 and the workbook instance is returned. On the next line when you call `da

[2018-09-13 15:28] MicahBrown commented on #447
@tgturner I think that makes sense. Shouldn't there be a getter method, though, to retrieve a specific sheet without going through `.row`? The reason I ask is because I'd like to target specific sheets in the workbook, but not all of them. So I'd like to be able to retrieve a sheet by name or index, then iterate through the rows on that.

Right now, I'm having to do this...
[code]
that's for a wor

[2018-09-13 15:41] tgturner commented on #447
@MicahBrown Once again, its not well documented but, you can use `sheet_for` to grab an instance of an Excel sheet, then call `row` on that sheet, or `each_row`. However, due to the same bug as a before you will have to use `sheet_for` with a name and not an index.

[code]

or if you know the name already

[code]

Hope that helps!

[2018-09-13 15:50] MicahBrown commented on #447
@tgturner Thanks, that works! You could probably document that on the readme to help avoid confusion with the `.sheet` method. I could be wrong, but I feel like people are far more likely to look for the `.sheet_for` functionality vs `.sheet`. I could submit a PR for you, though I won't be able to get it right away.

[2018-09-13 22:06] tgturner commented on #447
@MicahBrown adding documentation around `sheet_for` would be great! I would love to help you with a PR.

[2018-09-13 22:41] tgturner commented on #399
Closing this issue because after some research, it doesn't look like this is possible. Thanks for the suggested workaround @cescue

[2018-09-13 22:41] #399 closed

[2018-09-13 22:42] tgturner commented on #403
@tfwright We would be happy to have you open a PR to add this to `each`, but @badosu is correct, `parse` does have a `headers` option that will exclude the header row.

[2018-09-17 20:37] tgturner commented on #440
Closing due to lack of activity

[2018-09-17 20:37] #440 closed

[2018-09-17 20:44] tgturner commented on #439
Roo::OpenOffice is expecting a filename, not an open file.

[2018-09-17 20:44] #439 closed

[2018-09-17 20:52] tgturner commented on #423
@xeger can you provide a spreadsheet that reproduces this? I'm not able to replicate this issue.

[2018-09-17 20:54] tgturner commented on #408
@edusantana Please feel free to open a PR for this!

[2018-09-17 21:01] tgturner commented on #404
@luis77 I feel like I might be missing where `Roo` comes into play here. Where does your `format.xlsx` use roo? It looks to me like you are just using an erb template that you created. Am I missing something?

[2018-09-17 21:43] tgturner commented on #402
@kinnairdclan It seems like something must be corrupted with the original file, if saving the file then corrects the issues. Are you able to recreate files that cause this issue, is this a one time issue with a single file?

[2018-09-17 22:14] kinnairdclan commented on #402
Hi @tgturner, I appreciate the response. Since reporting this issue we identified our client's _export_ libraries as the problem child, creating old, bad spreadsheets. They were proprietary I believe, and once our client upgraded their export libraries we began to parse them correctly with Roo (the spreadsheets were Excel 2016-compatible on their way into the parser). That being said, from @Vitali

[2018-09-18 07:52] chopraanmol1 commented on #418
I tried looking into this issue, but seeing the backtrace it seems the problem lies in spreadsheet gem.

I found a ticket in spreadsheet gem addressing a similar issue. You can look into it.

https://github.com/zdavatz/spreadsheet/issues/221

For now I'm closing this ticket, let me know if the above solves your issue or not.

[2018-09-18 07:52] #418 closed

[2018-09-18 18:42] tgturner commented on #402
@VitaliyAdamkov I am no longer able to recreate your issue on current Master. Can you provide a spreadsheet that demonstrates your issue.

[2018-09-19 12:14] VitaliyAdamkov commented on #402
@tgturner It is strange, but now me neither, nor at 2.7.1 (from rubygems), nor master branch version. I used the same files everywhere, but issue is gone.

[2018-09-19 12:18] tgturner commented on #402
Woo! Thanks for confirming. Closing this issue!

[2018-09-19 12:18] #402 closed

[2018-09-26 22:12] info-rchitect opened #460 "Is it possible to make the temporary directories (/tmp) allow an optional path?"
Depending on the computer location, /tmp is either very large or very small.  Could there be a way to configure the location of the temporary directories roo creates?

thx

[2018-09-27 05:14] chopraanmol1 commented on #460
Yes, you can configure temporary directories using the following approach:
1. You can set environment variable **ROO_TMP** (`ENV["ROO_TMP"]`) to change the default temp directory of roo.
2. You can use `tmpdir_root` option while intializing some spreadsheet instance.
  e.g. `Roo::Excelx.new("your_file_name.xlsx", tmpdir_root: "location_to_new_temp_dir")`

[2018-09-27 05:16] #460 closed

[2018-09-27 11:38] info-rchitect commented on #460
@chopraanmol1 thanks very much for the quick response!

[2018-09-28 06:44] danielparker00 commented on #371
I have still encoding issue.
``
def read
  data = Roo::CSV.new("test.csv", csv_options: {encoding: Encoding::ISO_8859_1})
end
``
If CSV file is encoded by UTF-8,  unknown character is shown.
After chane csv_option to Encoding::UTF_8, Exception is raised when open the ISO_8859_1 encoded file like "invalid byte sequence in UTF-8".

How can I read any encoded file without any error?
Thanks.

[2018-09-28 13:57] tgturner commented on #371
@danielparker00 What version of Roo are you using? Can you provide a file that reproduces the error?

[2018-09-28 19:49] #412 closed

[2018-10-04 21:32] matiasgarcia commented on #378
Has anyone found a workaround for this? Looks like downgrading roo to 2.6.0 works, but 2.7.0 is way more performant than 2.6.0

[2018-10-04 21:32] matiasgarcia commented on #374
Has anyone found a workaround for this? Looks like downgrading roo to 2.6.0 works, but 2.7.0 is way more performant than 2.6.0

[2018-10-07 19:12] #374 closed

[2018-10-17 01:26] emplumb opened #468 "ArgumentError: Unknown key generation algorithm SHA1"
### Steps to reproduce

[code]

### Issue
I cannot open ods files that are password protected. When the file does not have a password, it's parsed correctly and object is created when I check the database.

### System configuration
**Roo version**: 2.7.1

**Rails version**: 5.0.0.1

[2018-10-17 10:35] Mifrill commented on #389
looks like it should becomes file content against the boolean true, as similar as sio.read, isn't it?
https://github.com/roo-rb/roo/blob/8f65109c6728dd77f62b0a5c68dd42ab207dd914/lib/roo/formatters/csv.rb#L9

[2018-10-22 07:54] ZouJun opened #471 "excel set value"
How can I write sth to excel

[2018-10-23 10:38] danielparker00 opened #472 "Missing or stray quote in line 1"
[code]
This is my code to read the CSV file by Roo.
It  raise exception such as "Missing or stray quote in line 1."
What should I do to open the file without error.
Thanks.

[2018-10-30 13:20] jcnaud commented on #223
This issue was fixed incorrectly.

I have the save ploblem and the issue concern the "\r" implementation on xlsx.
**Case 1 with "\n":**
When i write in cell: "KM\nSTART"
On LibreOffice , i have :
[code]
On Excel i have:
[code]

**Case 2 with "\r\n":**
On LibreOffice i have :
[code]
On Excel i have:
[code]

[2018-11-12 17:24] embs commented on #275
@stevendaniels would you please clarify what do you mean by

What functionality does it break?

Thanks!

[2018-11-14 10:22] Mifrill commented on #389
@tgturner hi, sorry to bother you, but can you look at pr? thanks for your time

[2018-11-16 07:11] chopraanmol1 commented on #179
@revof11 can you provide a sample file for which you are facing the issue?

Can you also verify if you face a similar issue on roo's master?

[2018-11-16 10:06] chopraanmol1 commented on #390
@sunnyrjuneja can you provide sample xlsx file?

roo does support date serialization, it may be an issue about roo not recognizing the format as valid date format.

[2018-11-16 10:33] chopraanmol1 commented on #384
@mrzasa  formatted_value was introduced in https://github.com/roo-rb/roo/pull/240

formatted_value is roo's attempt to recreate raw value. Following are implementations of formatted_value

boolean:
https://github.com/roo-rb/roo/blob/8f65109c6728dd77f62b0a5c68dd42ab207dd914/lib/roo/excelx/cell/boolean.rb#L16

datetime, date:
https://github.com/roo-rb/roo/blob/8f65109c6728dd77f62b0a5c68dd42ab207dd91

[2018-11-16 18:33] sunnyrjuneja commented on #390
@chopraanmol1 here is a test case for you. fyi, opening the report and saving it "fixes" the issue.
[test.xlsx](https://github.com/roo-rb/roo/files/2590454/test.xlsx)

[2018-11-16 20:37] hiattp commented on #423
This will reproduce it:

[test.xlsx](https://github.com/roo-rb/roo/files/2590767/test.xlsx)

It seems like it would be hard to anticipate every possible format (as `Roo::Excelx::Cell::Number#formats` tries to do), and when it does fail to include the format the error is fairly inscrutable ("no implicit conversion of nil into String"). It seems like we'd want one or more of a few possible features:

[2018-11-19 06:14] chopraanmol1 commented on #390
@sunnyrjuneja Thank you for providing a sample file. I'll like to point out the following:
1. Excelx client generating the xlsx file is responsible to define the custom format/style. In absence of respectively defined format, excelx client uses predefined style/format (check `Roo::Excelx::Format::STANDARD_FORMATS`)
2. Provided sample file doesn't use one of the predefined format's id (i.e. 30) and

[2018-11-19 13:01] chopraanmol1 commented on #423
Duplicate of #377

@hiattp I agree with your points (point 1 is already implemented on master). Your proposed solution is something which should be part of Roo, but it only solves one part of the problem. In most of the scenario, the respective developer cannot control the file being processed (user uploaded) due to which it is really hard to know the list of format code which requires additional

[2018-11-20 18:03] sunnyrjuneja commented on #390
@chopraanmol1 Thanks for looking into this! Excel parsing is a complicated beast, appreciate you taking the time.

I unfortunately have no control over the source excel. I'm currently using the function above for columns I know are a date. Feel free to close this issue if there is no fix planned.

[2018-11-20 18:36] chopraanmol1 commented on #390
@sunnyrjuneja on side note you should not use hard coded base date. Try calling `workbook.base_date` on roo excelx instance instead. This method also considers https://msdn.microsoft.com/en-us/library/ff530155(v=office.12).aspx

Out of curiosity are you aware about the excel client(down to particular version will be better) generating your respective source file?

[2018-11-20 18:48] sunnyrjuneja commented on #390
@chopraanmol1 That's good advice, thank you! I unfortunately have no context or contact what so ever. It's a legacy system which we don't have access to except for a web interface.

[2018-11-20 18:56] #390 closed

[2018-11-22 06:04] chopraanmol1 commented on #380
@patricks  @welguisz @masylum  can anyone of you provide a sample file and script which reproduces this issue

[2018-11-22 06:08] chopraanmol1 commented on #388
@pawan-nextspace  @NorseGaud  can you provide a sample file & script which reproduces this issue

[2018-11-22 06:18] chopraanmol1 commented on #432
@juulman thank you for reporting this. I'm thinking to add a special check for `nil` and `""` such that it always uses `GENERAL` format. To ensure that this does not happen in a future release as well I'll need to add a test case with sample file which has overridden style format for id (0), can you or @zafarabbas  provide a sample file which reproduces this.

[2018-11-22 06:55] chopraanmol1 commented on #379
It is expected behavior. You can use `no_hyperlinks` options (#459 currently will only work on roo master, will be part of next release 2.7.1+ ) while creating an instance of Roo::Excelx to ignore hyperlinks altogether.

[2018-11-22 06:55] #379 closed

[2018-11-22 07:00] #400 closed

[2018-11-29 10:48] parthibeyond commented on #360
@stevendaniels @paneq Thanks

[2018-12-06 17:40] myfitment opened #474 "How can I make Roo clean up the temporary directories?"
Is it necessary to have  cron job remove these directories periodically? I find I am having to do it by hand after receiving warnings about running out of space. Is there any way to set roo to remove the directories after completion?

[2018-12-06 19:02] chopraanmol1 commented on #474
Try calling `Roo::Excelx#close` method once you have finished processing.
[code]

Related PR  #211 #329
#329 onwards it is not explicitly required to call close, tmpdir cleanup is handled by finalizer called during GC.  Can you provide gist which reproduce your issue on latest version without calling `close`.

[2018-12-10 15:46] #474 closed

[2019-01-03 06:35] tushgup93 opened #478 "invalid value for Integer(): "0600469""
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

Upload any excel with value starting with "0" as mentioned above .

### Issue
Describe the issue
Any value that contains numbers , roo considers it as a number but when it starts with "0", it does not treat it as string instead it throws the error invalid value for Integer()
##

[2019-01-03 07:02] chopraanmol1 commented on #478
@tushgup93 Thank you for reporting this issue. roo uses `Integer()` to convert respective value to integer.

ruby considers the value to be octal format if it starts with 0
[code]
[code]

Can you attach a sample excel file reproducing the mentioned issue so that expected behavior could be determined?

Please feel free to open a PR for this!

[2019-01-03 07:50] tushgup93 commented on #478
so it basically have 4 columns:
Detail level | Detail value | Oil type | Liters
KBA | 600469 | AB-40 | 2.0
KBA | 060044 | AB-40 | 2.0
KBA |  60046 | AB-40 | 2.0
This is the code:
1. file_object = Roo::Spreadsheet.open(@file.location,extension: :xlsx)
2. converted_header = file_object.row(1).map { |x| x.to_s.parameterize.underscore.to_sym }.zip ->
 it breaks here in roo -> "roo-2.7.1/lib/roo/excelx

[2019-01-03 09:20] chopraanmol1 commented on #478
@tushgup93 I'm unable to reproduce this issue. The excel client (google spreadsheet, libre office) I used to generate the sample file either didn't accept leading zero to integer or changed the cell to use text format. And both of these scenarios work well with roo.

Since I'm unable to create an excel file which reproduces this issue, I'll suggest you attach a sample excel file which reproduces t

[2019-01-07 06:13] #478 closed

[2019-01-07 06:30] tushgup93 commented on #478
thanks @chopraanmol1 , can you also create a version with this commit ? I am using 2.7

[2019-01-07 07:07] chopraanmol1 commented on #478
@tushgup93  I'll update you on this issue once we make next release.

[2019-01-08 12:36] #330 closed

[2019-01-12 00:59] mdavidn commented on #419
Gentle nudge. 872bb3a addressed a security issue after 2.7.1.

[2019-01-22 12:33] tushgup93 commented on #478
thanks!

On Fri, Jan 18, 2019 at 11:53 AM Anmol Chopra <notifications@github.com>
wrote:

[2019-01-22 20:52] andykelk opened #489 "Regression: ArgumentError in extract_coordinate in 2.8.1"
### Steps to reproduce

Attached test case and sample file

[test.xlsx](https://github.com/roo-rb/roo/files/2784538/test.xlsx)
[test-case.rb.txt](https://github.com/roo-rb/roo/files/2784539/test-case.rb.txt)

### Issue
When opening an XLSX spreadsheet with hyperlinks, receive an `ArgumentError` in `lib/roo/utils.rb:20`

I've tried cutting back the file to find the offending row but it starts worki

[2019-01-23 00:04] andykelk commented on #489
Having looked at this further, the issue appears to be with the definition of a hyperlink. Excel writes the hyperlink once and then references the same link across a range:

[code]

This raises an exception in `Roo::Utils::extract_coordinate` as it contains a `:` rather than just alphanumeric characters.

The previous implementation in 2.7.1 (`Roo::Utils::split_coordinate`) used a regex to just gr

[2019-01-23 13:17] chopraanmol1 commented on #489
@andykelk Thank you for reporting this issue in a detailed manner.

[2019-01-25 06:17] weilandia opened #491 "Invalid Links lead to TypeError: no implicit conversion from nil to integer"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce
Fixture: [roo_bad_link.xlsx](https://github.com/roo-rb/roo/files/2794813/roo_bad_link.xlsx)

1. Create an executable test case for this issue: https://gist.github.com/weilandia/21485b507ce4f08893a2b1b22858f359

### Issue
[code]

This happens when a sheet has invalid links.
<img

[2019-01-25 09:47] #489 closed

[2019-01-29 18:25] #491 closed

[2019-01-30 00:50] wellingtondev commented on #423
Hey

I am having this problem with currency and I would like to help solve it but I don't know how to make it. If you guys have some kind of documentation to send me I would be pleased to help.

[2019-02-13 00:20] guilhermemaranhao opened #495 "Parsing on nested columns"
Hi everyone,

I'm very new to Roo and I'm facing an issue related to parsing on nested columns.
I'd like to use the `parse() `method, but I have columns with duplicated names. So, I need to iterate over the head columns, but I don't know how to do it, as when I set my `header_search` option, some of the below columns aren't being returned.

Here is an example of my sheet: [my sheet](https://docs.g

[2019-02-13 12:25] chopraanmol1 commented on #495
@guilhermemaranhao currently roo doesn't support header recognition for the nested column.

Although I've not put much thought, I think it will be good to support something like following (or some other variant)

`document.sheet(0).parse(clean: true, ibge: /ibge/i, tipo_armadilhas: [/Tipo de Armadilhas/i, //], estratos_1: [/<= 0,9/, /estratos/], estratos_2: [ /1 <=.*<= 3,9/, /estratos/] )`

The ab

[2019-02-13 13:37] guilhermemaranhao commented on #495
Thank you, @chopraanmol1 !

I decide to use `document.sheet(0).row(0)` etc, until the last row and get the columns one by one.
I suppose it does not have a `.rows() `method, doesn't it? Something that gives me all the sheet rows.

[2019-02-13 13:37] guilhermemaranhao commented on #495
Unfortunately I won't have time to solve it with a PR.

[2019-02-15 12:25] Matt-Yorkley commented on #380
I've been getting issues with the first row being missing, and it looks like it's related to Microsoft Excel inserting a BOM character.

[2019-03-01 09:50] rockandruby opened #498 "Wrong type casting google docs"
When I upload google docs table in xlsx, I get  1920.0 instead 1920. Tested on latest gem version. Also if I save this document locallyt(without any modification, just ctrl+s) I get correct value X. Any ideas?

[2019-03-04 07:09] rockandruby commented on #498
after some research I can tell that type casting is correct and I get string type but anyway my string value transforms to X.0 instead X. Also if I save this documen locallyt(without any modification, just ctrl+s) I get correct value X. Any ideas?

[2019-03-04 09:58] rockandruby commented on #498
seems the issue in nokogiri, because when I invoke `extract_cells` I already have wrong values

[2019-03-04 10:17] chopraanmol1 commented on #498
@rockandruby nokogiri doesn't typecast the value. Roo tries to typecast in following method:
https://github.com/roo-rb/roo/blob/a9026fdceebd06ee113bc2bb02f6b0542bc159b3/lib/roo/excelx/cell/number.rb#L19-L29

Please share a sample file which reproduce this issue.

[2019-03-04 11:14] rockandruby commented on #498
@chopraanmol1 Yes, roo tries to type cast, but it gets data from nokogiri and in that method wrong data is already present(e.g. 1.0) and type casting goes wrong because `number.include?('.') == true`. In `extract_cells` method if you type `cell_xml.content` u'll get float instead int. [Sample file](https://ufile.io/bmgrf)

[2019-03-06 12:05] chopraanmol1 commented on #498
@rockandruby I'm unable to download the sample file with the given link. Can you upload as a comment itself?

I don't think it is an issue with nokogiri gem. You should try reading raw XML file It will also probably have float value. A lot of data like integer, float, date, date-time, boolean are natively stored as a number in the raw XML file and respective excel client consider cell format to de

[2019-03-06 13:27] rockandruby commented on #498
@chopraanmol1 weird, because I can download via that link. Ok, below is a table with following format
First Name | First Name | First Name | First Name | First Name |  
-- | -- | -- | -- | -- | --
One | Two | BTN | 1 | 2019 |  
By the way I parsed objects which nokogiri creates when parsing google xlsx file and noticed that objects with wrong values don't have some attributes. Here's a [link](http

[2019-03-08 07:41] Paxa opened #500 "Excel date rounding"
I discovered that DateTime parser will do rounding to seconds and Date parser will not. If value is something like 42988.99999999999 then it will parse it as previous day

Example as DateTime type:
[code]
As Date type:
[code]

11 Sep 2017 in excel format is 42989.0 (number of days from 1st jan 1900), but for value with float mistake 42988.99999999999 Excel still show `11/09/2017  00.00.00` (same a

[2019-03-10 07:34] rockandruby commented on #498
Yes, I investigated a bit more and found out that a raw xml file with wrong type casting is given to nokogiri and nokogiri parses it. So we need to figure out why roo creates wrong xml file with numbers and type casts them to float for google docs. Below I attached that xml file. Pay attention to D and E columns. In my xlsx file they're integers but in xml for some reason they're parsed to float.

[2019-03-12 11:56] momolog commented on #360
@paneq What is a good workaround for this exact usecase?

[2019-03-12 12:25] momolog commented on #360
To answer my own question for a workaround (using `Tempfile`):

    get :show, params: {id: 2, format: :xlsx}

    file = Tempfile.new(['excelx-tmp', '.xlsx'])
    file.write text
    file.close

    Roo::Excelx.new(file.path)

[2019-03-12 14:34] rockandruby commented on #498
@chopraanmol1 any suggestions?

[2019-03-13 08:43] chopraanmol1 commented on #498
@rockandruby roo doesn't create an XML file by itself rather it extract xml(s) from xlsx file which in this case already have float representation of the integer. Most of Excel client doesn't represent an integer as float while saving the spreadsheet but it seems Google-Spreadsheet is doing that anyway.

It generally still work fines as while reading the xlsx file excel client uses the format of t

[2019-03-13 08:45] chopraanmol1 commented on #380
@Matt-Yorkley can you provide a sample file with a script to reproduce this issue?

[2019-03-13 08:46] srghma commented on #346
roo doesnt support reading background color (seems like)

[2019-03-13 10:41] rockandruby commented on #498
@rockandruby thanks for reply. Already did monkey patching)https://github.com/roo-rb/roo/issues/498#issuecomment-472330336

[2019-03-17 05:58] zw963 opened #502 "Error result when parse xlsx file different sheet."
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

[code]

### Issue
city_list should return first sheet, but it return second sheet (same as area_list)

### System configuration
**Roo version**:
2.8.2
**Ruby version**:
2.3.1

Thanks

[2019-03-26 19:58] MatthiasEngh commented on #254
this was fixed in https://github.com/roo-rb/roo/commit/f1bc6e643a4d9af7934a41ae3f157796cf4de623 in case someone else like me is still running into this

[2019-03-28 04:03] clubbavi opened #503 "bold, italic & underline problems when we select whole cell."
### Steps to reproduce

1. I am uploading an excelx file in my rails application.

`xlsx_file = Roo::Spreadsheet.open(params[:file].path)`
  `  # Not able to read the tags here itself.`
 ` xlsx_file.sheet(0).parse(headers: true).drop(1).each do |data|`
    `   # I am not getting the data here with tags`
  `end`
`

### Issue
In a cell if I am doing only certain texts(not all) bold/italic/underline,

[2019-03-28 10:36] chopraanmol1 commented on #503
@clubbavi currently roo doesn't support wrapping cell content based upon cell-specific property. But you can check if the cell has bold property with following
[code]

Refer Following Links:

https://www.rubydoc.info/gems/roo/2.8.2/Roo%2FExcelx:font
https://www.rubydoc.info/gems/roo/2.8.2/Roo/Font

[2019-03-28 10:43] chopraanmol1 commented on #502
@zw963  you can use `sheet_for` for this purpose. API for both methods is a bit different though but it will cover all basic functionalities.

[2019-03-29 04:50] clubbavi commented on #503
@chopraanmol1 ... so Roo::Spreadsheet.open(params[:file].path) will not provide `xlsx.font(1,1).bold?` method ? We have to use Excelx for that ?

[2019-04-15 07:29] Manthan2211 commented on #53
Trying to convert that column to column.to_i.
I hope this patch is working for you.

[2019-06-19 07:03] TranBaVinhSon commented on #408
@tgturner Does `roo` support this feature?

[2019-06-29 03:25] awh-tokyo commented on #421
FYI, the following works, even though it's not very pretty:

[code]

[2019-07-02 18:19] tbonz opened #506 "Error when opening file with expand_merged_ranges and parse with clean option"
### Steps to reproduce

1. Example code:
[code]
2. Test spreadsheet: [test.xlsx](https://github.com/roo-rb/roo/files/3351758/test.xlsx)

### Issue
The example fails with an exception: **undefined method `value' for nil:NilClass (NoMethodError)**

### System configuration
**Roo version**: 2.8.2

**Ruby version**: 2.5.3p105 (2018-10-18 revision 65156) [x86_64-darwin18]

[2019-07-02 18:44] ttilberg commented on #506
Notice that the process of `expand_merged_ranges` will explicitly create `cells[dst] = nil` if the `src` is nil (which otherwise does not show up in `cells`:

![image](https://user-images.githubusercontent.com/7969650/60537522-58e35400-9cce-11e9-93ee-34c579fada58.png)

So, the source of the issue seems to be related to `expand_merged_ranges` explicitly creating `nil` values in the cells hash when

[2019-07-18 18:56] rhiroshi opened #508 "comments cuts on font change"
Hello.
 I'm trying to read comments from an spreadsheet using the Sheet.comments function.
 The problem i'm facing is: some of the comments have font changes (bold) . These comments are not read completely, breaking at the font change.
EDITED : i thought it was the \n but it's the font change.

[2019-07-26 06:47] rknmag opened #509 "can't modify frozen String (FrozenError) in open_office.rb"
### Steps to reproduce
require 'roo'
require 'rspreadsheet'

fname = 'test_apos.ods'
wb = Rspreadsheet.new
sheet = wb.create_worksheet('Sheet1')
sheet[1,1] = ''   ### Note : The cell contain empty string
wb.save(fname)

wb = Roo::Spreadsheet.open(fname)
pp wb.last_row
wb.close()

### Issue
I write ods file using rspreadsheet gem. When I read back the file using roo, If any cell value contain empty

[2019-08-25 14:35] MyklClason opened #511 "Support Stikethrough is not supported"
# Steps to reproduce

Create a cell with:

<html><strike>a</strike><i>b</i>, c<b>d</b></html>

### Issue
Strikethroughs are ignored. Tried this in a few ways and couldn't get it to work.

A quick look through the code, looks like it simply isn't supported.

### System configuration
**Roo version**: 2.8.2

**Ruby version**: 2.6.3p62

[2019-08-30 05:27] ctammes opened #513 "Change in datatype not"
#369 # Steps to reproduce

1. create a xlsx sheet in LibreOffice with one column header (1:A) and a numeric/float cell (2:A)
2. save the sheet
3. open the sheet in Ruby and request the datatype of the cell

4. response is [:numeric_or_formula, "General"]
5. change the datatype in LibreOffice to text and save the sheet. The value in 2:A is left justified (correct)
6. open the sheet in Ruby again an

[2019-09-10 12:45] agrass commented on #381
Agree, I just realize some bugs due this

[2019-09-27 20:03] pathakh commented on #53
you can't convert column.to_i as it will get rid of the leading 0s.

[2019-09-30 06:25] cenxky opened #514 "Extra content (<html> tag) was added to cell value which looks like a HTML tag"
I found `roo` gem always adding extra content to the cell value while reading the cells via loops.

### Steps to reproduce

1. Create an **xlsx** file, and set the A1 cell value to be `<b>Hello Roo</b>`
2. Parse the file by `Roo::Excelx.new(file_path, packed: false, file_warning: :ignore)` and `puts` cell values via `each` block
3. You will realize the output value is `<html><b>Hell Roo</b></html>

[2019-10-14 07:41] chalmagean opened #516 "Google sheets export low performance"
I have a file exported from Google sheets, and the same data copied into excel (values only) and saved from Excel.

I've benchmarked the two files, and here are the results.

Excel       0.002513   0.001626   0.004139 (  0.004606)
Google:   0.077944   0.063764   0.141708 (  0.143287)

### System configuration
**Roo version**: 2.8.2
**Ruby version**: 2.5.1

[2019-10-17 12:48] billy-whizz opened #517 "Rails import CSV with headers that have long names and map to association fields"
I have a CSV of users to upload, with one of the headers named as country of origin of user. This should be mapped to a column in the users table called `country_id` during importing. country has_many users. I am struggling to import such kind of column headers in the csv which map to an association and which have funny names. Many days of trying but I am yet to crack it. Here is the method I am u

[2019-10-17 23:22] resistorsoftware opened #518 "What's the deal with headers?"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Issue

Header is UPC
row 2 is 1234
row 3 is 4567

So I use a simple loop to get the data... and work with it.

    sheet.parse(id: /UPC|SKU/i, clean: true) do |data|
      upc_count[data[:id]] += 1
    end

I end up with UPC as a hash counted value... how do you setup the headers but not count the

[2019-10-24 14:15] tbonz commented on #506
@chopraanmol1 I see ttilberg has a merge ready to go that will solve this issue.  This would be a great update if you were able to get it published soon.  Thank you!

[2019-11-05 11:44] GoktugOzturk opened #519 "Cannot get real row number when looping data with each_row_streaming"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce
1. Create an excel file that has empty rows between filled rows.
2. Read the data with each_row_streaming function

### Issue
I need to show an error for the filled line which comes after the blank line. The error should specify the row number like this -> "The value on row #[ro

[2019-11-14 05:37] ak15 opened #520 "Due to some reason this line raises an error for my xlsx FileNotFound"
https://github.com/roo-rb/roo/blob/4ec1104f0c3c2a29711c0c907371cd2be12bcc3c/lib/roo/excelx/shared.rb#L19

[2019-11-14 07:19] #520 closed

[2019-11-16 03:44] billy-whizz opened #522 "Is there a way to reject empty rows in Roo?"
I have a spreadsheet of ```members``` designed as below:
[![enter image description here][1]][1]

My aim is to upload some columns and exclude others. In this case, I wish to upload only the ```name```, ```age``` and ```email``` and exclude the others. I have been able to achieve this using the ```slice``` method as shown below:
[code]
The problem is that ```last_row``` considers all the rows upto

[2019-11-19 13:44] narayanan-venkat opened #523 "String values appended with quotes while converting to CSV"
I found out that is due to this set of code in lib/roo/formatters/csv.rb
`  when :string
          %("#{onecell.gsub('"', '""')}") unless onecell.empty?`

can you provide an option to convert strings to csv without quotes?

[2019-12-11 07:27] klyonrad opened #526 "Rubyzip 2.x compatibility"
Could the gemspec be updated to allow `rubyzip` version 2 too?

More info here: https://github.com/rubyzip/rubyzip/pull/403

[2020-01-06 18:49] krzykos opened #528 "Some ODS do not load (float cell issue)"
### Issue

LibreOffice generates following XML for float cells:
[code]

Some other generators (like https://github.com/westonganger/rodf) do not put redundant children elements, so the outcome is as follows:
[code]

Attempt to read such ODS throws at `open_office.rb` line 424 (or so)

### Fix

Replace:
[code]

With:
[code]

The former version does not comply to the best possible coding style.
The

[2020-01-07 09:40] pain11 opened #529 "Getting deprecated Cell.new, use Cell.create_cell for set() method of excelx.rb file"
When set method of excel sheet is used; it is showing error message 'deprecated Cell.new, use Cell.create_cell'.

[2020-02-04 22:14] manuelmeurer commented on #338
I'm running into the same problem: I'm parsing a spreadsheet that was created in a different timezone, and all parsed times are in UTC.
The weird thing is that my server timezone is set to CET (+01:00) and my Rails app as well, but still I get UTC times.
Is there anything I can do to help debug this?
Is it possible to disable parsing times and simply get them as string values?

[2020-03-03 19:13] Kutomore opened #531 "Better way to generate hashes instead of arrays"
# Issue
I have a multisheet xlsx file in which the pagename is a class name, and every row name matches an attribute on my database.

I want to do something like
[code]
Which would require me to have the row as a hash instead of an array.

The documentation suggests:
[code]
But having to specify the attributes for each model would make the code very repetitive and ugly, is there a way for me to le

[2020-03-09 03:31] gavingmiller opened #532 "No Security Contact"
I'm looking to get in touch privately with someone responsible for this repo to report a security bug. I believe this issue to be Medium to High severity.

Thanks.

[2020-03-10 10:04] r-zia commented on #307
do it like this
  def read_file(blob_id)
    blob = ActiveStorage::Blob.find(blob_id)
    raise 'File not Found' if blob.nil?
    stream = StringIO.new(blob.download)
    @xlsx = Roo::Spreadsheet.open stream, extension: :xlsx
  end

[2020-03-16 18:15] Kiwi-x-Kiwi commented on #514
We're experiencing a similar issue with `.xlsx` files on cells where there is bold formatting and it'll give us the following output `<html><b> </b>[cell text]</html>`.

In the above case, the cell text is not bold but the formatting on the cell itself is bold.  There doesn't seem to be any problems when all the text in the cell is bold.

[2020-03-25 17:09] estani opened #533 "Problem with broken links"
If broken links are found (references to non existing sheets, DB, etc) a set of problems arise, e.g.
[code]

The main culprit is:
File: ../../.rbenv/versions/2.5.7/lib/ruby/gems/2.5.0/gems/roo-2.8.3/lib/roo/excelx/workbook.rb
31:       def defined_names
32:         doc.xpath('//definedName').each_with_object({}) do |defined_name, hash|
33:           # "Sheet1!$C$5"
34:           sheet, coordinates

[2020-03-26 07:31] luongvietdung opened #534 "How to calculate total cell in one merge cell"
With one merge cell (cell A1), I want to calculate cells merged in cell A1

[2020-03-29 22:34] superyarick opened #535 "Incorrectly parses last row with blank columns"
roo (2.8.3)
Parsing Excel file,  in the last row is not parsed correctly.  Columns get shifted to the left when blank fields are encountered. This issue does not happen to any other rows.

I am attaching the excel file with CIS Benchmark

[code]
[CIS_Ubuntu_Linux_16.04_LTS_Benchmark_v1.1.0.xls.zip](https://github.com/roo-rb/roo/files/4399978/CIS_Ubuntu_Linux_16.04_LTS_Benchmark_v1.1.0.xls.zip)

It

[2020-05-03 20:47] suung commented on #535
We have a different issue here..

we have string values parsed as nil, while numbers work.

This only happens with Excel, with LibreOffice this problem does not exist.

[2020-05-04 21:08] gavingmiller commented on #532
Bumping

[2020-06-25 09:32] estani opened #538 "Wrong cell retrieved in ods if subtotals are used"
If subtotals are used:
![image](https://user-images.githubusercontent.com/1331850/85693275-64493f80-b6d6-11ea-8e6f-0df2fdf01a85.png)
![image](https://user-images.githubusercontent.com/1331850/85694366-5b0ca280-b6d7-11ea-9d7a-655989764928.png)

The cells are just skipped
[code]
And it doesn't matter if they are hidden or not.
[test.ods.zip](https://github.com/roo-rb/roo/files/4830290/test.ods.zip)

[2020-06-25 20:27] MiguelCorti commented on #421
Improving on what @awh-tokyo posted:
[code]

[2020-07-31 13:33] #310 closed

[2020-08-06 08:33] ShisiJu commented on #360
@momolog
Hello, I try to use the code . but it doesn't work.
Do you have some advices?
[code]

2.6.3 :021 > Roo::Excelx.new(file.path)
Traceback (most recent call last):
        2: from (irb):21
        1: from (irb):21:in `new'
Zip::Error (File /tmp/excel20200806-1156-13rjiv0.xlsx has zero size. Did you mean to pass the create flag?)

It warns `xss has zero size, Did you mean to pass the create f

[2020-08-09 20:55] jackrg opened #539 "Roo::Excelx::Cell::Empty#to_s does not return a string"
[Empty Cell Sample.xlsx](https://github.com/roo-rb/roo/files/5048370/Empty.Cell.Sample.xlsx)

Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce
Run the following code (this example in Rails):

xlsx = Roo::Excelx.new("./Empty Cell Sample.xlsx")

xlsx.each_row_streaming(pad_cells: true) do |row|
  puts row.map { |c| c.class.name

[2020-08-09 21:08] jackrg commented on #539
I'm going to leave this open as the basis for a strategic/tactical discussion, while I recognize that the library works as documented.

[2020-08-09 22:02] jackrg commented on #539
Just discovered another "gotcha". It looks like if the entire first column is blank (that is, it would have been eliminated if not for  "pad_cells: true" in the call), each row contains a nil instead of Roo::Excelx::Cell::Empty. This means that I can't just map each cell using #value, i have to surround it with a #try (e.g. `row.map! {|c| c.try(:value) }` instead of `row.map!(&:value)`.

[2020-08-10 14:34] vanboom commented on #421
I have rebased my fork to address this issue.  It would be nice if we could get this PR #427 approved here.

[2020-08-18 12:25] #506 closed

[2020-09-08 18:43] will89 opened #541 "`Integer': invalid value for Integer(): "" (ArgumentError) during each_row_streaming"
### Steps to reproduce
#### Gist
[code]

#### Spreadsheet
[foo.xlsx](https://github.com/roo-rb/roo/files/5190349/foo.xlsx)
I suspect it has to do with this formatting of the cell values in the xml
[code]

### Issue
The file does not successfully parse.

#### Stacktrace
[code]

### System configuration
**Roo version**: 2.8.3

**Ruby version**: 2.6.5

[2020-09-30 17:36] jcstringer commented on #360
I think you need to pass your file to `Roo` as well as call`file.rewind` before you close it. With a tempfile, I believe it disappears when you close it. Here is some sample code that I would expect should work
[code]

[2020-10-06 09:29] coorasse commented on #533
Formatted:

# current version
[code]

# patched version
[code]

[2020-10-09 11:23] LocoDelAssembly opened #545 "to_csv not working with ODS when there is a boolean cell"
The problem seems to be at: https://github.com/roo-rb/roo/blob/3ed05e1caef0ce3c5db5c19f1fa14e6f74193079/lib/roo/formatters/csv.rb#L46

However it works if the cell rather than having "TRUE" as boolean type cell it has "=TRUE()". Would break something if `:boolean` was handled just as if it was a formula?

[code]
Samples: [test.zip](https://github.com/roo-rb/roo/files/5354552/test.zip)

[2020-10-21 22:46] leboshi opened #547 "Incorrect formatted value for `0%`-formatted percentages due to floating point inaccuracy"
PR coming momentarily!

### Steps to reproduce

See Gist at https://gist.github.com/leboshi/e0e6302b50eaef325744087048f16924; download and run self-contained (plus XLSX) test script.

### Issue

In some very specific cases, floating-point storage inaccuracy causes `:formatted_value` to return an unexpected value; specifically, when `57%` is stored as a `0%`-formatted percentage, `:formatted_value`

[2020-10-26 10:44] #508 closed

[2020-11-09 01:56] untoldone opened #550 "Sheet references are not stable while calling other API... either issue or docs issue"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

[code]

In case this is file specific, the above `UDS-2019-Full-Dataset.xlsx` file can be found at https://www.hrsa.gov/sites/default/files/hrsa/foia/UDS-2019-Full-Dataset.xlsx

### Issue
The above code outputs row 1 of the sheet titled "HealthCenterInfo". My expected behavior

[2020-11-11 15:27] wleeper commented on #550
Seeing this issue as well.  This is not expected behavior for ruby to change an objects reference like that.  If this is the desired behavior of this method it should be changed to sheet! and the documentation updated to reflect what happens when you call this method.

[2020-12-03 19:21] KachanAnton350504 commented on #550
It happens because

It happens because when you call sheet method it set the default sheet and return to you reference on the default sheet.
And when you call it again for the second sheet, the default sheet changes. And sheet1 and sheet2 reference on the same default sheet.

To make it works you should use the code below:
[code]

[2020-12-05 11:31] dcangulo opened #551 "Not compatible with Ruby 3"
### Steps to reproduce
**test.csv**
[code]
**test.rb**
[code]

### Issue
Works with Ruby 2.7.2.

Error with Ruby 3.0.0 Preview 1
[code]

### System configuration
**Roo version**:
[code]

**Ruby version**:
* `ruby 2.7.2p137 (2020-10-01 revision 5445e04352) [x86_64-darwin19]` (works)
* `ruby 3.0.0preview1 (2020-09-25 master 0096d2b895) [x86_64-darwin19]` (doesn't work)

[2020-12-06 13:03] KachanAnton350504 commented on #550
@untoldone, It happens because the method .sheet changes the default sheet and returns the default sheet. And when you call it two times you will have the last sheet in two variables (sheet1 and sheet2). The behavior really looks like a bug. You can fix it fast by opening the document two times (create a two instance of a class):

[code]

[2021-01-06 15:21] jonspalmer commented on #551
Seconding the need for this fix now that Ruby 3.0 is released

[2021-02-03 21:43] donv commented on #551
It seems master is compatible.  Maybe release a new version?

[2021-02-04 18:35] Shubhamgoel123 opened #553 "Getting deprecation warning for Roo::CSV class"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Issue
Describe the issue

Getting this deprecation warning

/home/ubuntu16-jtg/Desktop/round_trip/roundtrip-web/vendor/bundle/ruby/2.7.0/gems/roo-2.8.3/lib/roo/csv.rb:100: warning: Using the last argument as keyword parameters is deprecated; maybe ** should be added to the call
/usr/share/rvm/rubi

[2021-02-10 14:22] tasiorsky commented on #551
any chances of releasing update soon?

[2021-02-11 07:22] Mifrill commented on #389
any updates on this?

[2021-02-24 10:18] pioz commented on #551
Same problem here!

[2021-02-24 11:38] hampei commented on #531
`sheet.each(headers: :first_row)` is what you want, but sadly yields the header row at the moment, so you'll have to skip that.

`sheet.parse(headers: :first_row).each` works correctly, but will cost you a bit more memory.

[2021-02-24 11:44] hampei commented on #518
this will work if you don't mind a full array being created in the middle
[code]

This sadly has the same issue.
[code]

[2021-02-25 07:37] seanfcarroll opened #554 "Apple Numbers Spreadsheet?"
I love the Roo gem, it is really useful and easy to use.

I'm wondering why an interface for the Apple OS X Numbers spreadsheet app has not been implemented? I know it is possible to convert to XLS and then upload in Roo, but I have searched and cannot find any Ruby gem that interacts with Numbers.

Is there some technical problem, like an obscured file format, that prevents a library being writte

[2021-03-17 09:37] aclarembeau opened #558 "Missing error value: #ERROR!"
### Steps to reproduce

Read a sheet with a cell that contains =#error!

### Issue
While using the Roo gem, we've remarked that some Excel sheet may contain cells with the #ERROR! value.
We've been patching that with the following code:
[code]

I think that would be good to add it to this official repo.

### System configuration
**Roo version**:

**Ruby version**:

[2021-03-19 00:35] taichi-ishitani commented on #553
I think this issue has been fixed by PR #530 but this PR has not been released yet.

@simonoff , @chopraanmol1,
Could you please release the latest version of Roo including the above PR?

[2021-03-23 14:43] larskanis commented on #551
Thanks for fixing this issue on the master branch! However could you please release a new bugfix version?

[2021-04-11 03:53] rubycoder commented on #509
I'm not using the rspreadsheet gem, but I'm seeing exactly the same error with Ruby 2.7.2 and roo 2.8.3, 2.8.2, 2.8.1, and 2.8.0 when reading a .csv file.
However, it works with roo 2.7.1.  I'm not using any of the roo 2.8.x features, so 2.7.1 is fine for me, at least for now.

[2021-04-14 14:41] romarioddo commented on #551
Thanks for fixing this issue on the master branch! However could you please release a new bugfix version? ²

[2021-04-14 15:23] uzian commented on #551
@larskanis please pardon my ignorance, but where is the fix 'on the master branch' that you are mentioning? At this moment I can use anything, to be honest, this issue is impacting live services of my application :(

[2021-04-14 18:12] larskanis commented on #551
@uzian Commit https://github.com/roo-rb/roo/commit/22d99302b34c5a38acfc2806daaf94a449f1e821 fixes compatibility with Ruby-3.0.

[2021-04-15 07:28] erikbrannstrom commented on #551
In case this helps someone, you are able to use the patched code by fetching a specific commit rather than a released gem:

[code]

[2021-05-06 14:46] aluisioalves123 opened #560 "CSV dont open when using Ruby 3.0.1"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

Im trying to open a csv file using the Roo::Spreadsheet.open, before I updated my ruby version to 3.0.1 it was working fine, but after that it is returning me this error:

TypeError: no implicit conversion of Hash into String
from /home/aluisio/.rbenv/versions/3.0.1/lib/ruby/3.

[2021-05-13 10:16] wu-lee commented on #545
Thanks - I am seeing exactly this issue too.

[2021-06-28 13:13] lsantobuono commented on #382
Sory to bring this up.
Still happens to me in 2.6.3, with xlsx generated by LibreOffice, and also with xlsx that are generated with the gem caxlsx_rails.
Problem happens wether i open the files manually or not after them being generated.
Any ideas on what the problem might be?

[2021-07-16 04:26] diam commented on #203
Solved my problem too, thanks @stevendaniels!
-- Maurice

[2021-07-18 05:27] PsychoPhobic opened #561 "expand_merged_ranges not working like in tutorial"
### Steps to reproduce

expand_merged_ranges does not work in this code:
[code]

### Issue
expand_merged_ranges does not work like in tutorial:

If you open a document with merged cells and do not want to end up with nil values for the rows after the first one.
`xlsx = Roo::Excelx.new('./roo_error.xlsx', {:expand_merged_ranges => true})`

### System configuration
ruby '3.0.1'
gem 'rails', '~> 6.1.

[2021-08-18 18:25] diam commented on #551
Thank you Erik, but how can I add this commit version of Roo (or the master one) to the global gem system with the unix `gem` command line  tool? (from Ruby-3.0.2)
-- Maurice

[2021-08-19 09:10] erikbrannstrom commented on #551
@diam I've never done that, but I'd try either to [build the gem yourself and install it](https://stackoverflow.com/questions/2577346/how-to-install-gem-from-github-source) or [use the specific_install gem](https://github.com/rdp/specific_install).

[2021-08-19 15:54] diam commented on #551
Thanks Erik, I didn't know the `specific_install` gem extension!
So the following commands solved the problem:
[code]
-- Maurice

[2021-09-01 09:22] johnnyshields opened #563 "Please release new version"
The latest released version doesn't support CSV on Ruby 3.0. Please release a new gem version to help out your users.

[2021-09-13 19:19] jasonperrone commented on #551
This gem is a dependency of other gems like simple-spreadsheet so a proper release is in order.

[2021-09-13 19:21] jasonperrone commented on #563
Seconded. Let's try to stay on top of stuff or many of us are going to continue to have a problem convincing higher ups to remain open source.

[2021-10-20 07:57] r-kanai opened #566 "nokogiri vulnerabilities"
https://github.com/roo-rb/roo/blob/709464c77623be2bc09b2103405d90ded7604a75/roo.gemspec#L22

Version nokogiri before 1.12.5 is vulnerable and violates dependabot. So I ask you to increase the version to 1.12.5.
https://snyk.io/vuln/rubygems:nokogiri

[2021-10-25 22:10] Beartech opened #567 "roo attempts to open file URL without first encoding spaces in filename."
### Issue
I am using Jquery upload to direct upload spreadsheets to AWS for later processing by delayed_job. When a file name had spaces the URL being stored was not encoded to replace the spaces with %20. When roo tried to open the file it got:

`URI::InvalidURIError: bad URI(is not URI?): "https://..."`

My workaround was to encode the file name in the JS using `encodeURI(filename)`

This works

[2021-11-10 14:14] mroach commented on #563
Is there something the community can do to help get a new version released?

We've run into a security configuration issue where we don't allow pulling code from GitHub directly, which we'd have to do to pull the commit that supports Ruby 3.0.

[2021-11-11 09:23] plusor commented on #539
I was confused when occurred this error.

[2021-11-15 14:37] nicpillinger commented on #558
+1 same problem here - #ERROR! just causes reading a sheet to bomb out with

    invalid value for Integer(): "#ERROR!"

[2021-12-08 18:15] estafaa commented on #563
Yes, please release an update to support Ruby 3.0+
now are getting this error now:
`NoMethodError: undefined method `encode' for URI:Module`
when we use `Roo::Spreadsheet.open(link) `

Thank you!

[2021-12-08 18:37] estafaa commented on #563
I just found that `lib/roo/spreadsheet.rb` was fixed I January 2020. But when I install gem, I don't have that version..
that update suppose to fix `NoMethodError: undefined method 'encode' for URI:Module`

[https://github.com/roo-rb/roo/commit/9e1e002f3a6f303fa17647b4456f95f29e273d2a](https://github.com/roo-rb/roo/commit/9e1e002f3a6f303fa17647b4456f95f29e273d2a)

is that because that is not in th

[2021-12-15 06:37] cars10 opened #568 "Is roo abandoned?"
Hi, are there still maintainers here that can manage roo and release gem versions? It seems like there was no relevant activity here for months. Ruby 3 came out almost a year ago and there is no new release for roo that supports it, although the issue was fixed months ago on master. Are you looking for help / new maintainers?

I tried to contact everyone that is listed as an owner on rubygems.org

[2021-12-17 01:58] xinlangzi commented on #553
@simonoff , @chopraanmol1,
Could you please release the latest version of Roo including the above PR?

[2021-12-22 08:47] shcyiza opened #569 "NoMethodError: undefined method `gsub' for nil:NilClass for links in csv formatter"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Issue
It seems that unlike the formatter for strings, the links part of the code is not nil safe.
location: /lib/roo/formatters/csv.rb:77:in `cell_to_csv'
change proposal here: https://github.com/roo-rb/roo/compare/master...shcyiza:patch-1

### System configuration
**Roo version**: 2.8.3

**Ruby v

[2021-12-22 16:36] SP8890 opened #570 "Roo set method doesn't works for ODS file. anyway to set the value in ODS file?"
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

1. Create an executable test case for this issue ([sample test case](https://gist.github.com/tgturner/e4b7f491639b8a6dd883fe2ace408652))
2. You can share your executable test case as a [gist](https://gist.github.com), or simply paste the content into the issue description.
  -

[2021-12-23 16:41] SP8890 commented on #570
Hi please find the details,

1.
require 'roo'
xls = Roo::Spreadsheet.open('spreadsheet_test.ods') do
  sheet = xls.sheet(0)
  puts sheet.cell(1, 1)
  **sheet.set(3, 3, "test")**
end

2. Roo version   : 2.8.3
3. Ruby version  : 2.5.3

(Tried with ruby version - Ruby 2.7.1 which isn't works as well)

4. MIMP  : The test is not failing , but it is nothing writing in the cell of the spreadsheet.

I am

[2022-01-21 05:02] Crammaman commented on #360
My scenario is a little different I'm using a gem

[2022-01-21 12:10] nikolai-b opened #571 "More XLSX methods"
Would you be open to extracting/exposing a few more stylistic things such as borders and cell alignment?  I might be able to find the time to do this but wanted to check if it was a direction you were open to first.

At the moment I can do things via
[code]
so even exposing the `WeakRef` doc would make it possible.

Thanks

[2022-02-02 11:48] estani opened #572 "Workaround needed for: open html-as-xls file"
Apparently any html with table can be renamed as "xls" and it will be open in excel directly.
Sadly, this seem to be spread in the community as a "simple way" of creating xls files.
So now there are well known system exporting data in this manner.

While trying to read the data, this seems impossible.
The only solution is to request the sender, to open the file in excel and save it again (or googl

[2022-03-19 16:47] svoop commented on #551
@simonoff Any chance you could initiate a patchlevel release containing the fix mentioned above? It's sad to see this useful have test suites turn red for so many – even more so since the fix will soon celebrate it's first anniversary. Thanks a bunch!

[2022-03-19 16:48] simonoff commented on #551
Wow. Let me check please.
I'm sorry I'm little bit get our due to the situation in Ukraine from where i'm originally.

[2022-03-19 16:59] svoop commented on #551
OT: I feel you, been working all week on our little studio to prep it for war refugees from UA.

[2022-03-19 17:47] simonoff commented on #551
@svoop  Done!

[2022-03-19 17:47] #551 closed

[2022-03-19 17:51] svoop commented on #551
@simonoff Thanks a lot... and мир Україні зараз!

[2022-03-22 16:44] vanboom commented on #509
This is caused by the "frozen_string_literal: true" directive at the top of lib/roo/open_office.rb.

The logic in this file is not compatible with "frozen_string_literal: true" directive so it should be removed.

e.g.
[code]

This is not possible when treating all string literals as frozen.

[2022-03-22 16:49] vanboom commented on #509
Is this gem still maintained?  Please consider my PR  to resolve this issue.

[2022-04-01 13:19] OleksandrPoltavets commented on #567
+

[2022-05-21 20:27] maysam commented on #541
how is something like this still open?

[2022-06-13 11:35] belisabettega commented on #379
I'm having the same problem, but I'm using the roo version '2.5.1', so I believe I don't have access to the `no_hyperslinks` option when creating an instance of `Roo::Excelx`. Because my application is an old one I can't update the roo version... Does anyone has an idea on how to solve this error then?

[2022-08-17 08:09] louiced commented on #382
I don't know what the problem is, but I solved it by copying the content to a google spreadsheet and the downloading it with the correct extension (.xlsx). Hope that helps anyone!

[2022-09-13 11:51] codescaptain opened #574 "invalid value for Integer(): """
Thanks for filing an issue. Following these instructions will help us solve your problem sooner.

### Steps to reproduce

### Issue
I have an xlsx file and I want to check first sheet's first_row. But I get this error: `invalid value for Integer(): ""`. If I edit the sheet name the error goes. I checked the solution: [478](https://github.com/roo-rb/roo/issues/478 ) and new version of roo gem.

The

[2022-09-28 15:06] jongbeau commented on #526
are there any plans to support rubyzip 2.x?

[2022-10-06 11:48] patrickkulling commented on #568
Would there be people willing to take over the maintenance and further development of this project?
I would be personally happy to support it and would be happy if some others would join too.

[2022-10-06 18:01] Empact commented on #568
I'll be happy to add others on as maintainers. LMK if you're interested.

[2022-10-07 08:46] patrickkulling commented on #568
@Empact I would be interested but would def. need more people that would actively maintain this as well as I would do this on the side beside my regular job.

Are there any contribution/maintainer guides for roo that you agreed on and I could read?